.answer {
    padding: 5px;
    margin-bottom: 5px;
}

.chicago-blue {
    background-color: rgb(180,222,241);
    color: rgb(15,84,96);
}
.critical {
    color: rgb(113,27,36);
    background-color: rgb(247,215,218);
    border: 1px solid rgb(113,27,36);
    border-radius: 2px;
    font-size: 150%;
}

.notCritical {
    color: rgb(24,86,38);
    background-color: rgb(212,236,218);
    border: 1px solid rgb(24,86,38);
    border-radius: 2px;
    font-size: 150%;
}

#titleimage {
    width: 120px;
}